__pycache__
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.git
.mypy_cache
.pytest_cache
.hypothesis
*.db
*.sqlite3
db.sqlite3
media/*
!media/avatars/
media/avatars/*
!media/avatars/avatar_1.jpg
!media/avatars/avatar_2.jpg
!media/avatars/avatar_3.jpg
!media/avatars/avatar_4.jpg
staticfiles/
.env
.env.local
*.md
Dockerfile
.dockerignore
